body{
    font-family: 'Poppins', sans-serif;
}
h2{
    font-size: 50px;
    
}
.orange-color{
    color: brown;
}
section{
    display: flex;

}
.half-width{
    width: 50%;
    padding-left: 10%;
   
}
.half-width img{
 width: 80%;
}
.link-button{
    text-decoration: none;
   background-color: violet;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
}

.flexible-container{
    text-align: center;
}
.flexible-container{
   color: tomato;
   
}
.middle{
    text-align: center;

}
.flex{
    display: flex;
    width: 50%;
}
.auto{
    display: flex;
    width: 50%;
}
.divided-area{
    width: 100%;
    padding: 30px;
    margin: 5px;
   background-repeat: no-repeat;
    background-image: url(shape-3.png);
    background-position: center;
}
.divided-area p{
text-align: center;
text-align: justify;
mask-image: linear-gradient(blue, salmon);
}
.limit{
    display: flex;
    width
    
}
.fourth-section{
    display: flex;
}
.last{
    display: flex;
    text-align: center;
}

#project{
    display: flex;
}
footer{
    text-align: center;
    background-color: black;
    color: blanchedalmond;
}
